config ZMK_BLE
	default y

config ZMK_USB
	default y

if SHIELD_SOFLE_V11_DONGLE

config ZMK_KEYBOARD_NAME
	default "Sofle v11"

endif

if SHIELD_SOFLE_V11_LEFT

config ZMK_KEYBOARD_NAME
	default "Sofle v11 Left"

endif

if SHIELD_SOFLE_V11_RIGHT

config ZMK_KEYBOARD_NAME
	default "Sofle v11 Right"

endif

if SHIELD_SOFLE_V11_DONGLE || SHIELD_SOFLE_V11_LEFT || SHIELD_SOFLE_V11_RIGHT

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if !SHIELD_SOFLE_V11_DONGLE

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

endif
