config SHIELD_SOFLE_V11_DONGLE
	def_bool $(shields_list_contains,sofle_v11_dongle)

config SHIELD_SOFLE_V11_LEFTCENTRAL
	def_bool $(shields_list_contains,sofle_v11_leftcentral)

config SHIELD_SOFLE_V11_RIGHTCENTRAL
	def_bool $(shields_list_contains,sofle_v11_rightcentral)
